---
name: Ruby Lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-slim
    timeout-minutes: 15
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          bundler-cache: true

      - name: Run rubocop
        run: |
          bin/rubocop -f github --parallel

      - name: Run erb_lint
        run: |
          bin/erb_lint --lint-all

      - name: Run brakeman
        run: |
          bin/brakeman --no-pager
