---
name: Ruby Lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup ruby
        uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b # v1.275.0
        with:
          bundler-cache: true

      - name: Run rubocop
        run: |
          bin/rubocop -f github --parallel

      - name: Run erb_lint
        run: |
          bin/erb_lint --lint-all

      - name: Run brakeman
        run: |
          bin/brakeman --no-pager
