---
name: Ruby Lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup ruby
        uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c # v1.269.0
        with:
          bundler-cache: true

      - name: Run rubocop
        run: |
          bin/rubocop -f github --parallel

      - name: Run erb_lint
        run: |
          bin/erb_lint --lint-all

      - name: Run brakeman
        run: |
          bin/brakeman --no-pager
