---
name: Ruby Lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          bundler-cache: true

      - name: Run rubocop
        run: |
          bin/rubocop -f github --parallel

      - name: Run erb_lint
        run: |
          bin/erb_lint --lint-all

      - name: Run brakeman
        run: |
          bin/brakeman --no-pager
