---
name: yamllint

on:
  pull_request:
    paths:
      - '**/*.yaml'
      - '**/*.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install yamllint
        run: |
          sudo apt-get install yamllint
          yamllint --version

      - name: Lint YAML files
        run: yamllint .
